// Custom mixins

// Navigation links

@mixin ace-navbar-links() {
  text-transform: uppercase;
  color: #fff;
  margin: 0 20px 0 0;
  padding: 4px 10px;
  background-color: lighten($brown-base, 20%);
  @include border-radius(10px 0, 10px 0);
  @include opacity(40);
}